<template>
  <v-fab-transition>
    <v-btn
      v-scroll="onScroll"
      v-show="fab"
      :style="{
        bottom: $vuetify.breakpoint.smOnly ? '64px' : ''
      }"
      fab
      dark
      fixed
      bottom
      right
      color="info"
      @click="toTop">
      <v-icon 
        large 
        class="pt-2">keyboard_arrow_up</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
  export default {
    name: 'AppFab',
    data: () => ({
      fab: false
    }),
    methods: {
      onScroll () {
        if (typeof window === 'undefined') return
        const top = window.pageYOffset ||
          document.documentElement.offsetTop ||
          0
        this.fab = top > 300
      },
      toTop () {
        this.$router.push({ hash: '' })
        this.$vuetify.goTo(0)
      }
    }
  }
</script>