<template>
  <v-expansion-panel class="elevation-0">
    <v-expansion-panel-content
      v-for="(item,i) in faqs"
      :key="i"
      class="transparent">
      <div slot="header">
        <h1 class="title indigo--text font-weight-medium">{{ item.title }}</h1>
      </div>
      <v-card color="grey lighten-3">
        <v-card-text>{{ item.answer }}</v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  data() {
    return {
      faqs: [
        {
          title: "How can I pay for my childcare?",
          answer:
            "Tuition is due Mondays on prepayment basis. If tuition is not paid by end-of-business Monday evening, a $25 late charge per child will be added and Northtown services will be suspended immediately until payments are made. You are required to pay tuition whether your child attends Northtown or not. We cannot waive tuition for sickness or vacations."
        },
        {
          title: "What about absences?",
          answer:
            "We cannot deduct days missed from your fee. Your fee pays only for direct operating costs such as staff, snacks, materials and transportation. All these must be available for your child. When you enroll you are reserving the time, space, staffing, and provisions for your child whether your child attends or not."
        },
        {
          title: "What if I’m late to pick up my child?",
          answer:
            "We close promptly at 6:00P.M. A late charge of $15 per child per 15 minutes ($60 per hour) will be charged. Late charges are to be paid on the same evening. In case of emergencies, please contact us so that we can make alternative arrangements for your child."
        },
        {
          title: "What if we withdraw our child?",
          answer:
            "Your child may be withdrawn from the program with a two-week notice. Should a refund be due because of mid-month cancellation, you must contact Northtown office and request it. You are responsible for a full two weeks tuition after notice is given."
        },
        {
          title: "Can you pick up my child after school?",
          answer:
            "After school pickup is available on normal business days and school holidays for McLeod, Spann and Ann Smith Elementaries."
        },
        {
          title: "What are your holiday hours?",
          answer:
            "Northtown is closed on Christmas Day, New Years Day, Memorial Day, Independence Day, Labor Day, Thanksgiving Day and the Friday following Thanksgiving. We close at noon on Christmas and New Years eve. Should the holiday fall on a Saturday we are closed the Friday prior, if the holiday falls on a Sunday we are closed Monday."
        },
        {
          title: "How old does my child have to be?",
          answer:
            "Northtown serves children six weeks old through 12 years of age. Children will be placed in groups based on their age on September 1 of the current school year. Parents must supply all required registration forms including immunization from 121 from the Mississippi Health Department."
        },
        {
          title: "What meals do you serve?",
          answer:
            "We will serve a hot breakfast, morning snack, hot lunch and an afternoon snack. A healthy snack will be served daily when the school age children arrive from school. A calendar with the daily menu is posted in the foyer. Beverages will be milk, juice or water."
        }
      ]
    };
  }
};
</script>

<style>
</style>
