<template>

  <v-toolbar
    v-if="$vuetify.breakpoint.mdAndUp"
    :flat="flat"
    :color="scroll"
    dark
    tabs
    fixed>
    <!--
      <v-btn flat>
      {{ offsetTop }}
    </v-btn>
    -->
    <v-toolbar-title v-if="$vuetify.breakpoint.mdAndUp">
      <h1 class="display-1 font-weight-bold pr-2">Northtown<span class="font-weight-light">CDC</span></h1>
    </v-toolbar-title>
    <v-toolbar-title v-if="$vuetify.breakpoint.mdAndDown">
      NCDC
    </v-toolbar-title>

    <v-spacer/>

    <v-toolbar-title
      v-if="$vuetify.breakpoint.mdAndDown"
      @click="sheet = true">
      <span class="subheading">Contact & Share</span>
      <v-icon dark>arrow_drop_down</v-icon>
    </v-toolbar-title>

    <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
      <v-btn
        flat
        @click.native="$vuetify.goTo(560)">Values</v-btn>
      <v-btn
        flat
        @click.native="$vuetify.goTo(1420)">Quick Facts</v-btn>
      <v-btn
        flat
        @click.native="$vuetify.goTo(2230)">Pricing</v-btn>
      <v-btn
        flat
        @click.native="$vuetify.goTo(3300)">News</v-btn>
      <v-btn
        flat
        @click.native="$vuetify.goTo(4100)">FAQs</v-btn>

      <v-menu
        full-width
        offset-y>
        <v-btn
          slot="activator"
          flat>Contact & Share<v-icon right>arrow_drop_down</v-icon></v-btn>
        <!-- <v-toolbar-title slot="activator">
          <span class="subheading">Contact & Share</span>
          <v-icon dark>arrow_drop_down</v-icon>
        </v-toolbar-title>-->
        <v-card>
          <v-list
            class="pt-0">
            <v-subheader>Contact</v-subheader>
            <v-list-tile
              href="tel:6014055688"
              avatar>
              <v-list-tile-avatar><v-icon>fa-phone</v-icon></v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-sub-title>Click to call us!</v-list-tile-sub-title>
                <v-list-tile-title>(601) 978-1999</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              href="mailto:info@northtowncdc.org"
              avatar>
              <v-list-tile-avatar><v-icon>fa-paper-plane</v-icon></v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-sub-title>Click to Email us!</v-list-tile-sub-title>
                <v-list-tile-title>info@northtowncdc.org</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              @click="handleMaps">
              <v-list-tile-avatar><v-icon>fa-map-marked-alt</v-icon></v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-sub-title>Click to get directions</v-list-tile-sub-title>
                <v-list-tile-title>21 Northtown Drive</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider />
            <v-subheader>Share</v-subheader>
            <v-list-tile disabled>
              <v-list-tile-avatar>
                <v-icon>fab fa-twitter</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>Share on Twitter</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile disabled>
              <v-list-tile-avatar><v-icon>fab fa-facebook</v-icon></v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>Share on Facebook</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>

        </v-card>
      </v-menu>
    </v-toolbar-items>

    <v-bottom-sheet
      v-model="buttonSheet">
      <v-card
        flat
        tile>
        <v-btn
          block
          flat
          large
          color="error"
          href="tel:6014055688"><v-icon left>fa-phone</v-icon>Call us</v-btn>
        <v-btn
          block
          flat
          large
          color="error"
          href="mailto:info@northtowncdc.org"><v-icon left>fa-paper-plane</v-icon>Email us</v-btn>
        <v-btn
          block
          large
          flat
          color="error"
          @click="handleMaps"><v-icon left>fa-map-marked-alt</v-icon>Find us</v-btn>
        <v-btn
          block
          flat
          disabled
          large
          color="blue"><v-icon left>fab fa-twitter</v-icon>@northtowncdc</v-btn>
        <v-btn
          block
          flat
          disabled
          large
          color="blue"><v-icon left>fab fa-facebook</v-icon>Facebook</v-btn>
      </v-card>
    </v-bottom-sheet>

    <v-bottom-sheet
      v-model="sheet">
      <v-list
        two-line
        dark
        class="pt-0 error">
        <v-list-tile
          href="tel:6014055688"
          avatar
          @click="sheet = false">
          <v-list-tile-avatar><v-icon>fa-phone</v-icon></v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to call us!</v-list-tile-sub-title>
            <v-list-tile-title>(601) 978-1999</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          href="mailto:info@northtowncdc.org"
          avatar>
          <v-list-tile-avatar><v-icon>fa-paper-plane</v-icon></v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to Email us!</v-list-tile-sub-title>
            <v-list-tile-title>info@northtowncdc.org</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click="handleMaps">
          <v-list-tile-avatar><v-icon>fa-map-marked-alt</v-icon></v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to get directions</v-list-tile-sub-title>
            <v-list-tile-title>21 Northtown Drive</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          href="https://twitter.com/intent/tweet?text=Check%20out%20Northtowns%20new%20website">
          <v-list-tile-avatar><v-icon>fab fa-twitter</v-icon></v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Share on Twitter</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-avatar><v-icon>fab fa-facebook</v-icon></v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Share on Facebook</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-bottom-sheet>


    <v-dialog
      v-model="dialog"
      full-width
      transition="dialog-bottom-transition">
      <v-card color="grey lighten-4">
        <v-toolbar
          flat
          dark
          color="error">
          <v-toolbar-title>
            <h1 class="headline font-weight-bold">Contact us or share!</h1>
          </v-toolbar-title>
          <v-spacer />
          <v-btn
            icon
            @click="dialog = false"><v-icon>fa-times</v-icon></v-btn>
        </v-toolbar>

        <v-card-text>
          <v-container grid-list-lg>
            <v-layout
              row
              wrap>
              <v-flex xs6>
                <v-card>
                  <v-card-text>
                    <v-text-field box/>
                    <v-text-field box/>
                    <v-textarea box />
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn>Send Message</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex
                xs6>
                <v-card>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.2520590513946!2d-90.11242398511605!3d32.38560431114732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8629d31dc9937061%3A0xd165047ec2d8d75c!2sNorthtown+Child+Development!5e0!3m2!1sen!2sus!4v1545110198304"
                    width="100%"
                    height="400"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen/>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

      </v-card>
    </v-dialog>
  </v-toolbar>
</template>

  <script>
  export default {
    data: () => ({
      active: null,
      offsetTop: 0,
      slider: false,
      transparent: true,
      dialog: false,
      sheet: false,
      buttonSheet: false,
      flat: true,
      scroll: 'transparent',
      extended: false,
      items: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'breadcrumbs_dashboard'
        },
        {
          text: 'Link 1',
          disabled: false,
          href: 'breadcrumbs_link_1'
        },
        {
          text: 'Link 2',
          disabled: true,
          href: 'breadcrumbs_link_2'
        }
      ]
    }),
    created: function() {
      window.addEventListener('scroll', this.onScroll)
    },
    destroyed: function() {
      window.removeEventListener('scroll', this.onScroll)
    },

    methods: {
      handleMaps() {
        // check if we're on iOS
        if (
          (navigator.platform.indexOf("iPhone") != -1) ||
          (navigator.platform.indexOf("iPad") != -1) ||
          (navigator.platform.indexOf("iPod") != -1)
        )
        window.open("maps://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353")
        else /* else use Google */
          window.open("https://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353")
      },
      onScroll(e) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
        if (this.offsetTop < 50) {
          this.scroll = 'transparent'

          this.flat = true

        }
        if (this.offsetTop > 50) {
          this.scroll = 'error'
          this.flat = false

        }
      }
    }
  }
  </script>
