<template>
  <v-footer
    height="auto"
    color="error lighten-1"
  >
    <v-layout
      justify-center
      row
      wrap
    >
      <!--
        <v-btn
        color="white"
        flat
        round
      >
        Values
      </v-btn>
      <v-btn
        color="white"
        flat
        round
      >
        FAQs
      </v-btn>
      -->
      <v-flex
        class="error lighten-1"
        py-3
        text-xs-center
        white--text
        xs12
      >
        &copy;2019 — <strong>Northtown Child Development Center / Pyott Digital</strong>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]
    })
  }
</script>
