<template>
  <!-- <v-toolbar
    v-if="$vuetify.breakpoint.mdAndDown"
    :flat="flat"
    :color="scroll"
    dark
    tabs
  fixed>-->
  <v-toolbar
    v-if="$vuetify.breakpoint.mdAndDown"
    dark
    color="error"
    inverted-scroll
    fixed
    app>
    <!-- <v-btn flat>
      {{ offsetTop }}
    </v-btn>-->
    <v-toolbar-title>Northtown</v-toolbar-title>

    <v-spacer/>

    <v-toolbar-title @click="sheet = true">
      <span class="subheading">Contact & Share</span>
      <v-icon dark>arrow_drop_down</v-icon>
    </v-toolbar-title>

    <v-bottom-sheet v-model="sheet">
      <v-list
        dark
        class="pt-0 error">
        <v-list-tile
          href="tel:6019781999"
          avatar
          @click="sheet = false">
          <v-list-tile-avatar>
            <v-icon>fa-phone</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to call us!</v-list-tile-sub-title>
            <v-list-tile-title>(601) 978-1999</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          href="mailto:info@northtowncdc.org"
          avatar>
          <v-list-tile-avatar>
            <v-icon>fa-paper-plane</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to Email us!</v-list-tile-sub-title>
            <v-list-tile-title>info@northtowncdc.org</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="handleMaps">
          <v-list-tile-avatar>
            <v-icon>fa-map-marked-alt</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title>Click to get directions</v-list-tile-sub-title>
            <v-list-tile-title>21 Northtown Drive</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          disabled
          href="https://twitter.com/intent/tweet?text=Check%20out%20Northtowns%20new%20website"
        >
          <v-list-tile-avatar>
            <v-icon>fab fa-twitter</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Share on Twitter</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile disabled>
          <v-list-tile-avatar>
            <v-icon>fab fa-facebook</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Share on Facebook</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-bottom-sheet>
  </v-toolbar>
</template>

  <script>
export default {
  data: () => ({
    active: null,
    offsetTop: 0,
    slider: false,
    transparent: true,
    dialog: false,
    sheet: false,
    buttonSheet: false,
    flat: true,
    scroll: "transparent",
    extended: false,
    items: [
      {
        text: "Dashboard",
        disabled: false,
        href: "breadcrumbs_dashboard"
      },
      {
        text: "Link 1",
        disabled: false,
        href: "breadcrumbs_link_1"
      },
      {
        text: "Link 2",
        disabled: true,
        href: "breadcrumbs_link_2"
      }
    ]
  }),
  created: function() {
    window.addEventListener("scroll", this.onScroll);
  },
  destroyed: function() {
    window.removeEventListener("scroll", this.onScroll);
  },

  methods: {
    handleMaps() {
      // check if we're on iOS
      if (
        navigator.platform.indexOf("iPhone") != -1 ||
        navigator.platform.indexOf("iPad") != -1 ||
        navigator.platform.indexOf("iPod") != -1
      )
        window.open(
          "maps://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353"
        );
      /* else use Google */ else
        window.open(
          "https://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353"
        );
    },
    onScroll(e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop;
      if (this.offsetTop < 50) {
        this.scroll = "transparent";

        this.flat = true;
      }
      if (this.offsetTop > 50) {
        this.scroll = "error";
        this.flat = false;
      }
    }
  }
};
</script>
