<template>
  <v-app light>
    <main-toolbar />
    <mobile-toolbar />
    <v-content>
      <nuxt />
      <fab />
    </v-content>
    <main-footer />
  </v-app>
</template>

<script>
  import MainFooter from '@/components/MainFooter.vue'
  import Fab from '@/components/Fab.vue'
  import MainToolbar from '@/components/MainToolbar.vue'
  import MobileToolbar from '@/components/MobileToolbar.vue'

  export default {
    components: {
      MainToolbar,
      MobileToolbar,
      MainFooter,
      Fab
    },
    data() {
      return {
        title: 'Northtown'
      }
    }
  }
</script>
