<template>
  <div>
    <v-card
      v-if="$vuetify.breakpoint.mdAndDown"
      color="error"
      dark
      flat
      class="text-xs-center pt-5"
    >
      <v-container
        grid-list-xl
        fill-height
        fluid>
        <v-layout
          row
          wrap
          align-center
          justify-center
          fill-height>
          <v-flex xs10>
            <h1 class="display-2 text-xs-center">Welcome to Northtown!</h1>
          </v-flex>
          <v-flex xs10>
            <h1 class="title font-weight-light">
              We're creating a better future for
              <span
                class="font-weight-bold"
              >Mississippi's children.</span>
            </h1>
          </v-flex>
          <v-flex shrink>
            <v-list
              two-line
              dark
              dense
              class="error pt-0">
              <v-list-tile href="tel:6019781999">
                <v-list-tile-avatar>
                  <v-icon medium>fa-phone</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title class="title font-weight-bold">Phone:</v-list-tile-sub-title>
                  <v-list-tile-title class="title font-weight-light">(601) 978-1999</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                href="mailto:info@northtowncdc.org"
                avatar>
                <v-list-tile-avatar>
                  <v-icon large>fa-paper-plane</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title class="title font-weight-bold">Click to Email us!</v-list-tile-sub-title>
                  <v-list-tile-title class="title font-weight-light">info@northtowncdc.org</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="handleMaps">
                <v-list-tile-avatar>
                  <v-icon large>fa-map</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title class="title font-weight-bold">Address:</v-list-tile-sub-title>
                  <v-list-tile-title class="title font-weight-light">21 Northtown Dr.</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-avatar>
                  <v-icon large>fa-clock</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title class="title font-weight-bold">Hours:</v-list-tile-sub-title>
                  <v-list-tile-title class="title font-weight-light">M-F, 630AM to 6PM</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <v-img
      v-if="$vuetify.breakpoint.mdAndUp"
      class="mb-5"
      height="600"
      src="reading-dark-med.jpg">
      <v-container
        fill-height
        grid-list-xl>
        <v-layout
          fill-height
          row
          wrap
          align-center
          justify-center>
          <v-flex
            xs12
            md7
            class="white--text my-5">
            <p class="display-3 font-weight-thin">
              Welcome to
              <span class="error">Northtown!</span>
            </p>
            <span class="headline">
              We're creating a better future for
              <span class="error">Mississippi's children.</span>
            </span>
          </v-flex>
          <v-flex
            xs12
            md4>
            <v-card
              floating
              class="elevation-10 pink darken-1"
              color="pink darken-1">
              <v-list
                two-line
                dark
                dense
                class="error pt-0">
                <v-list-tile href="tel:6019781999">
                  <v-list-tile-avatar>
                    <v-icon medium>fa-phone</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title class="title font-weight-bold">Phone:</v-list-tile-sub-title>
                    <v-list-tile-title class="title font-weight-light">(601) 978-1999</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                  href="mailto:info@northtowncdc.org"
                  avatar>
                  <v-list-tile-avatar>
                    <v-icon medium>fa-paper-plane</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title class="title font-weight-bold">Click to Email us!</v-list-tile-sub-title>
                    <v-list-tile-title class="title font-weight-light">info@northtowncdc.org</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click="handleMaps">
                  <v-list-tile-avatar>
                    <v-icon large>fa-map</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title class="title font-weight-bold">Address:</v-list-tile-sub-title>
                    <v-list-tile-title class="title font-weight-light">21 Northtown Dr.</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-avatar>
                    <v-icon large>fa-clock</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title class="title font-weight-bold">Hours:</v-list-tile-sub-title>
                    <v-list-tile-title class="title font-weight-light">M-F, 630AM to 6PM</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <v-container
      id="values"
      class="my-5"
      grid-list-md>
      <v-layout
        column
        align-center>
        <v-flex class="pb-4">
          <h1
            class="display-2 font-weight-bold grey--text text--darken-3 text-xs-center"
            style="border-bottom: 10px solid #7E57C2;"
          >Northtown Values</h1>
        </v-flex>

        <v-flex>
          <v-layout
            row
            wrap>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text class="text-sm-center">
                  <v-icon
                    size="64"
                    color="accent">fa-apple-alt</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline accent--text font-weight-medium">Education</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1
                    class="subheading grey--text text--darken-2"
                  >We foster children's curiosity and openness to provide opportunities to explore, create and learn at their own pace.</h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text class="text-sm-center">
                  <v-icon
                    size="64"
                    color="accent">fa-users</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline accent--text font-weight-medium">Family</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1
                    class="subheading grey--text text--darken-2"
                  >Our Parent Advisory Committee helps support and guide programs and activities.</h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text>
                  <v-icon
                    size="64"
                    color="accent">fa-hand-holding-heart</v-icon>
                </v-card-text>
                <v-card-text class="py-0">
                  <h1 class="headline accent--text font-weight-medium">Culture</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1
                    class="subheading grey--text text--darken-2"
                  >We treat ourselves and others with respect, understanding, compassion and honesty.</h1>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text>
                  <v-icon
                    size="64"
                    color="accent">fa-hands-helping</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline accent--text font-weight-medium">Community</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1
                    class="subheading grey--text text--darken-2"
                  >Children work and play together and develop relationships with their peers and their community.</h1>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-img
      dark
      height="400"
      src="/study-hero-med.jpg">
      <v-container
        grid-list-xl
        class="ml-0 pl-0"
        fill-height>
        <v-layout
          align-end
          fill-height>
          <v-flex shrink>
            <v-list
              dark
              class="accent"
              two-line>
              <v-list-tile>
                <v-list-tile-avatar>
                  <v-icon large>fa-apple-alt</v-icon>
                </v-list-tile-avatar>
                <div>
                  <h1 class="display-1 font-weight-bold">Education</h1>
                  <h1 class="subheading">Northtown students learning all aspects of numbers.</h1>
                </div>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <v-container
      id="quickfacts"
      class="py-5"
      grid-list-md>
      <v-layout
        column
        align-center>
        <v-flex class="pb-4">
          <h1
            class="display-2 font-weight-bold grey--text text--darken-3 text-xs-center"
            style="border-bottom: 10px solid #26A69A;"
          >Quick Facts</h1>
        </v-flex>

        <v-flex>
          <v-layout
            row
            wrap>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text class="text-sm-center">
                  <v-icon
                    size="64"
                    color="teal">fa-book</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline teal--text font-weight-medium">Curriculum</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1 class="subheading grey--text text--darken-2">
                    We use the
                    <a
                      href="https://extension.msstate.edu/content/mississippi-early-learning-guidelines-for-infants-and-toddlers"
                    >Mississippi Early Learning Guidelines</a> developed by Mississippi State University.
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text>
                  <v-icon
                    size="64"
                    color="teal">fa-clock</v-icon>
                </v-card-text>
                <v-card-text class="py-0">
                  <h1 class="headline teal--text font-weight-medium">Hours</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1 class="subheading grey--text text--darken-2">
                    We open at
                    <strong class="deep-purple--text text--lighten-2">6:30AM</strong>
                    and students must be picked up by
                    <strong
                      class="deep-purple--text text--lighten-2"
                    >6:00PM</strong>.
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text>
                  <v-icon
                    size="64"
                    color="teal">fa-bus</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline teal--text font-weight-medium">Pickup</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1 class="subheading grey--text text--darken-2">
                    After school pickup is available for McLeod,
                    Spann and Ann Smith Elementaries.
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              xs12
              md3>
              <v-card
                color="transparent"
                class="text-xs-center"
                flat>
                <v-card-text class="text-sm-center">
                  <v-icon
                    size="64"
                    color="teal">fa-utensils</v-icon>
                </v-card-text>
                <v-card-text class="text-sm-center py-0">
                  <h1 class="headline teal--text font-weight-medium">Our kitchen</h1>
                </v-card-text>
                <v-card-text class="text-sm-center">
                  <h1
                    class="subheading grey--text text--darken-2"
                  >We serve a hot breakfast, morning snack, hot lunch and an afternoon snack.</h1>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-divider/>

    <v-img
      dark
      height="400"
      src="/bbq-hero-med.jpg">
      <v-container
        grid-list-xl
        fill-height
        class="ml-0 pl-0">
        <v-layout
          align-end
          fill-height>
          <v-flex shrink>
            <v-list
              dark
              class="teal"
              two-line>
              <v-list-tile>
                <v-list-tile-avatar>
                  <v-icon large>fa-hand-holding-heart</v-icon>
                </v-list-tile-avatar>
                <div>
                  <h1 class="display-1 font-weight-bold">Community</h1>
                  <h1 class="subheading">Northtown community BBQ cooked by students and staff.</h1>
                </div>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <v-container
      id="pricing"
      class="px-3 py-5"
      grid-list-md>
      <v-layout
        column
        class="text-xs-center">
        <v-flex>
          <h1 class="display-2 error--text font-weight-bold text-sm-center underline">Pricing</h1>
        </v-flex>
        <v-flex class="pb-4">
          <p class="subheading grey--text text--darken-2">$50 annual registration fee per student</p>
        </v-flex>

        <v-flex>
          <v-layout
            row
            wrap
            justify-center>
            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>

                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    Infants
                  </h1>
                  <h1 class="text-xs-left subheading">0 to 12 months.</h1>
                </v-card-text>
                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $130
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>
                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    Toddlers
                  </h1>
                  <h1 class="text-xs-left subheading">12 to 24 months.</h1>
                </v-card-text>

                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $115
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>
                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    2 Year-Olds
                  </h1>
                  <h1 class="text-xs-left subheading">24 to 36 monts.</h1>
                </v-card-text>

                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $110
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout
            row
            wrap
            justify-center>
            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>
                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    3+4 Year Olds
                  </h1>
                  <h1 class="text-xs-left subheading">Including preschool.</h1>
                </v-card-text>

                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $100
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>
                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    After-school
                  </h1>
                  <h1 class="text-xs-left subheading">School-age children.</h1>
                </v-card-text>

                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $65
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card
                class="text-xs-center error"
                dark>
                <v-card-text class="text-sm-left">
                  <h1 class="display-1 font-weight-light">
                    Summer Camp
                  </h1>
                  <h1 class="text-xs-left subheading">For school-age children.</h1>
                </v-card-text>

                <v-divider class="mx-3"/>
                <v-card-text>
                  <h1 class="display-2 font-weight-bold">
                    $95
                    <span class="subheading">/weekly</span>
                  </h1>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-img
      dark
      height="400"
      src="/nutcracker-hero-med.jpg">
      <v-container
        grid-list-xl
        class="ml-0 pl-0"
        fill-height>
        <v-layout
          align-end
          fill-height>
          <v-flex shrink>
            <v-list
              dark
              class="error"
              two-line>
              <v-list-tile>
                <v-list-tile-avatar>
                  <v-icon large>fa-hands-helping</v-icon>
                </v-list-tile-avatar>
                <div>
                  <h1 class="display-1 font-weight-bold">Culture</h1>
                  <h1 class="subheading">"The Nutcracker", Thalia Mara Hall</h1>
                </div>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <v-container
      id="news"
      class="my-5"
      grid-list-xl>
      <v-layout
        column
        align-center>
        <v-flex class="pb-4">
          <h1
            class="display-2 font-weight-bold grey--text text--darken-3 text-xs-center underline"
          >How Northtown stays busy!</h1>
        </v-flex>

        <v-flex>
          <v-layout
            row
            wrap
            justify-center>
            <v-flex
              xs12
              md3>
              <v-card hover>
                <v-img src="/summer-fun-small.jpg">
                  <v-layout
                    fill-height
                    justify-center
                    align-end
                    class="text-sm-center">
                    <v-flex class="primary">
                      <h1 class="display-1 font-weight-bold white--text">Summer Fun</h1>
                    </v-flex>
                  </v-layout>
                </v-img>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card hover>
                <v-img src="/bbq-small.jpg">
                  <v-layout
                    fill-height
                    justify-center
                    align-end
                    class="text-sm-center">
                    <v-flex class="primary">
                      <h1 class="display-1 font-weight-bold white--text">Northtown Family BBQ</h1>
                    </v-flex>
                  </v-layout>
                </v-img>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card hover>
                <v-img src="/mansion-small.jpg">
                  <v-layout
                    fill-height
                    justify-center
                    align-end
                    class="text-sm-center">
                    <v-flex class="primary">
                      <h1 class="display-1 font-weight-bold white--text">The Governor's Mansion</h1>
                    </v-flex>
                  </v-layout>
                </v-img>
              </v-card>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-card hover>
                <v-img src="/temple-small.jpg">
                  <v-layout
                    fill-height
                    justify-center
                    align-end
                    class="text-sm-center">
                    <v-flex class="primary">
                      <h1 class="display-1 font-weight-bold white--text">Sita Ram Hindu Temple Visit</h1>
                    </v-flex>
                  </v-layout>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-img
      dark
      height="300"
      src="/little-builders-hero-med.jpg"/>

    <v-container
      id="news"
      class="my-5"
      grid-list-xl>
      <v-layout
        column
        justify-center>
        <v-flex class="pb-4 text-xs-center">
          <h1 class="display-2 font-weight-bold indigo--text underline">FAQs</h1>
        </v-flex>

        <v-flex>
          <v-layout
            row
            justify-center>
            <v-flex
              xs12
              md8>
              <faq/>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import * as easings from "vuetify/es5/util/easing-patterns";
import Faq from "@/components/Faq.vue";

export default {
  layout: "plain",
  components: {
    Faq
  },
  data() {
    return {
      title: "Northtown Child Development Center",
      duration: 300,
      offset: -100,
      easing: "easeInOutCubic",
      active: null,
      offsetTop: 0
    };
  },
  computed: {
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      };
    }
  },
  methods: {
    handleMaps() {
      // check if we're on iOS
      if (
        navigator.platform.indexOf("iPhone") != -1 ||
        navigator.platform.indexOf("iPad") != -1 ||
        navigator.platform.indexOf("iPod") != -1
      )
        window.open(
          "maps://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353"
        );
      /* else use Google */ else
        window.open(
          "https://www.google.com/maps/place/Northtown+Child+Development/@32.3856043,-90.112424,17z/data=!3m1!4b1!4m5!3m4!1s0x8629d31dc9937061:0xd165047ec2d8d75c!8m2!3d32.3855998!4d-90.1102353"
        );
    }
  },
};
</script>

<style>
.underline {
  border-bottom: 10px solid currentColor;
  display: inline-block;
}
</style>
